*
{
  box-sizing:border-box;
}

header
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: black 2px 2px 5px;
}
body
{
  background: linear-gradient(135deg, #88d95a 0%, #4aab1a 100%);
  min-height: 100vh;
}
p
{
    font-size: 1.2rem;
}

header nav
{
  text-align: start;
  list-style: none;
  display: block;
  background: rgba(0, 0, 0, 0.589);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1%;
}

header ul
{
  list-style-type: none;
  padding: 25px;
  width: 100%;
  margin: 0;
  display: flex;
  gap: 40px;
  flex-direction: row;
}

header li
{
  background-color: rgba(250, 235, 215, 0.137);
  text-align: center;
  border-radius: 10px;
}


header li a
{
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

header li:hover
{
  scale: 1.05;
}
#visiting
{
  background-color: rgb(159, 150, 137);
}
.helptext
{
  color: rgb(59, 59, 59);
}
form
{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 1.8/vw, 3rem);
}
form div
{
  display: flex;
  flex-direction: column;
}
form input, select, textarea
{
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  height: 40px;
  text-align: center;
  font-size: larger;
  font-family: "Montserrat", sans-serif;
}
form input:focus,select:focus,textarea:focus
{
  box-shadow: black 3px 3px 10px;
}
form input[type='submit']
{
  min-width: 300px;
  transition: background-color 0.5s;
  background-color: rgba(0, 255, 255, 0.13);
  font-size: 20px;
}
form input[type='submit']:hover
{
  background-color: rgba(0, 255, 255, 0.474);
    cursor: pointer;
}
form label
{
    font-size: clamp(1.1rem, 2.5vw, 2rem);
    font-weight: 450;
}
form ul
{
    margin: 0;
}
form li
{
    padding: 0;
    font-size: clamp(0.8rem, 1.7vw, 1rem);
}
#info h1{
  font-size: clamp(1.1rem, 2.5vw, 2rem);
  margin-left: 4%;
  margin-right: 4%;
  color: rgb(21, 109, 22) !important;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

main
{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2vw;
  margin: 1.2vw;
  
}


@media only screen and (max-width: 600px) {
  header ul {
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    width: 100%;
  }
  form input[type='submit']
  {
    align-self: center;
  }
  header li {
    border: none !important;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }

  header li:last-child {
    margin-bottom: 0; /* No extra margin on the last one */
  }
  header li:hover
  {
    scale: 1.02;
  }
}
