#assignment-box-Late
{
  background-color: #ed5e5e80 !important;
  border-left: 5px solid rgb(225, 64, 64);
  
}

#assignment-box-Due
{
  background-color: rgba(235, 224, 75, 0.693) !important;
  border-left: 5px solid rgb(190, 179, 23);
}
#assignment-box-Later
{
  background-color: rgba(64, 152, 56, 0.5) !important;
  border-left: 5px solid rgb(56, 164, 46);
}

#assignment-box-Due h1
{
  color: white !important;
}
#assignment-box-Later h1
{
  color: white !important;
}
#assignment-box-Late h1
{
  color: white !important;
}
* {
  box-sizing: border-box;
}

header
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: black 2px 2px 5px;
}
body
{
  background: linear-gradient(135deg, #88d95a 0%, #4aab1a 100%);
  min-height: 100vh;
}
p
{
    font-size: 1.2rem;
}

nav
{
  text-align: start;
  list-style: none;
  display: block;
  background: rgba(0, 0, 0, 0.589);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1%;
}

ul
{
  list-style-type: none;
  padding: 25px;
  width: 100%;
  margin: 0;
  display: flex;
  gap: 40px;
  flex-direction: row;
}

li
{
  background-color: rgba(250, 235, 215, 0.137);
  text-align: center;
  border-radius: 10px;
}


li a
{
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}
li:hover
{
  scale: 1.05;
}
#visiting
{
  background-color: rgb(159, 150, 137);
}
.assignment-box
{
    background-color: rgb(255, 255, 255);
    padding: 2%;
    margin: 1%;
    border-left: 5px solid rgb(34, 110, 48);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    box-shadow: rgb(135, 188, 136) 7px 7px 10px;
    transition: scale 0.5s;
}
main
{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1.3vw;
  margin: 1.2vw;
  
}
.assignment-box h1 {
  font-size: clamp(1.1rem, 2.5vw, 2rem);
  text-wrap:nowrap;
  color: rgb(100, 145, 34)
}

.assignment-box h2 {
  font-size: clamp(0.8rem, 1.8vw, 1.3rem);
}

.assignment-box p {
  font-size: clamp(0.9rem, 1.8vw, 1.2rem);
}
.general-info
{
  
  display: flex;
  gap:1%;
  align-items: baseline;
}
.assignment-box:hover
{
  scale: 1.02;
}
.general-info > h1, h2
{
    margin: 0;
}

@media only screen and (max-width: 600px) {
  ul {
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    width: 100%;
  }

  li {
    border: none !important;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }

  li:last-child {
    margin-bottom: 0; /* No extra margin on the last one */
  }
  li:hover
  {
    scale: 1.02;
  }
}
