{%load static%}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="{% if StylesFiles %}{% static StylesFiles%} {%else%} {%static 'styles/index.css'%} {%endif%}">
        <title>{%if title%} {{title}} {%else%} Страница {%endif%}</title>
        <style>
            body
            {
                background-image: url("{% static 'images/DJI_0112-scaled.webp' %}");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100vw 100vh; 
                background-position: top center; 
            }
        </style>
    </head>
    <body>
        <header class='index-header'>
            <h1>Саморъчна база данни на заданията в 9."ж" клас</h1>
            <p>Много яка и добра, и фукционираща база данни</p>
            <nav>
                <ul>
                    <li {%if tomorrow%} id='visiting' {%endif%}><a href="{% url 'assignments-index'%}">Утре</a></li>
                    <li {%if thisWeek%} id='visiting' {%endif%}><a href="{% url 'assignments-thisWeek' %}">Тази седмица</a></li>
                    <li {%if filterHomework%} id='visiting' {%endif%}><a href='#'>Филтриране</a></li>
                    <li {%if addHomework%} id='visiting' {%endif%}><a href="{% url 'assignments-newAssignment' %}">Добавяне на задание</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {%block mainContent%}

            {%endblock%}
        </main>
    </body>
</html>