{% extends "assignments/base.html" %}


{%block mainContent%}
    {%if messages%}
        {%for message in messages%}
        <div class='server-messages'>
            {{message}}
        </div>
        {%endfor%}
    {%endif%}
    {% for assignment in assignments%}
        <div class='assignment-box'>
            <div class='general-info'>
                <h1><a href="{% url 'assignment-info' assignment.id%}">{{assignment.subjectConn.subjectName}}</a></h1>
                <h2>{{assignment.subjectConn.teacher}}</h2>
            </div>
            <hr>
            <p><b>Описание: </b>{{assignment.assignmentDesc}}</p>
            <p><b>Крайна дата:</b> {{assignment.dueDate}}</p>
        </div>
    {%empty%}
        Няма записана домашна, която да е за утре!
    {% endfor %}
{%endblock%}