{%extends 'assignments/base.html'%}

{%block mainContent%}
    <div id="info">
        <h1>Информация за задание с идентификационен №{{assignment.id}}</h1>
    </div>
    <div class='assignment-box'>
        <div class='general-info'>
            <h1>{{assignment.subjectConn.subjectName}}</h1>
            <h2>{{assignment.subjectConn.teacher}}</h2>
        </div>
        <hr>
        <p><b>Описание: </b>{{assignment.assignmentDesc}}</p>
        <p><b>Крайна дата:</b> {{assignment.dueDate}}</p>
    </div>
{%endblock%}